.titleDiv {
  background-color: #1f1f1f;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.title {
  height: 100%;
  font-family: 'Canaro';
  color: #ff9900;
  padding: 12px 0 0 20px;
}

/* .title:hover {
  color: #ff7700;
} */

.signOut {
  padding: 7px 12px 0 0;
}
