.left {
  width: 50%;
  min-width: 200px;
  height: 360px;
  padding-top: 15%;
  position: relative;
}

.defaultImg {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 0 auto;
}

.upLoadButton {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  /* bottom: 30px;
  left: 20%; */
  margin: 0 auto;
  text-align: center;
}

.saveButton {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* bottom: 30px;
  right: 15%; */
  margin: 0 auto;
  text-align: center;
}