/* .underline {
  text-decoration: underline;
} */
.underline:hover {
  cursor: pointer;
  color: rgb(65, 125, 255);
}

.modalTitle {
  font-size: 1.5rem;
  text-align: center;
}

.modalBody {
  text-align: center;
}