.Form {
  padding-bottom: 10px;
}

.allWrap {
  width: 70%;
  margin: 0 auto;
  margin-top: 69.6px;
}

.logo {
  text-align: center;
}

.buttonWrapper {
  width: 132.55px;
  height: 45.88px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .solid {
    display: none;
  }
}